.signin-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(242, 243, 255);
    border: 1px solid rgb(118, 118, 194);
    border-radius: 4px;
    width: 50%;
    padding: 20px 0;

    .sign-form-inputs {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .sign-form-buttons {
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin-top: 10px;
    }
}